@using LaptopForge.Common
@using LaptopForge.Data.Models.Models
@model List<Laptop>
@{
    this.ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

    <!-- Custom styles -->
    <style type="text/css">
        .carousel-control {
            font-size: 20px; /* Adjust the font size as needed */
            width: 30px; /* Adjust the width as needed */
            height: 30px; /* Adjust the height as needed */
            line-height: 30px; /* Adjust the line height as needed */
            border-radius: 15px; /* Optional: Round the corners for a nicer look */
        }
        .carousel-content {
            color: black;
            display: flex;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>There are currently @ViewBag.LaptopCount laptops.</p>
        <p>There are also @ViewBag.UserCount users.</p>
    </div>
    <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" data-pause="hover">
        <div class="carousel-inner" role="listbox">
            @for (var i = 0; i < Model.Count(); i++)
            {
                var showClass = (i == 0 ? "active" : "");
                var path = Model[i];
                <div class="item @showClass">
                    <div class="carousel-content">
                        <div style="margin: 0 auto">
                            <p>
                                    <a href="/Laptops/GetLaptop/@Model[i].Id">
                                        <img src="@Model[i].ImageUrl" style="width: 600px; height: 470px;" />
                                    </a>
                            </p>
                        </div>
                    </div>
                    <!-- Move the controls inside the item div -->
                        <a class="left carousel-control" style="margin-left:350px" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">&lt;</span>
                    </a>
                    <a class="right carousel-control" style="margin-right:350px" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">&gt;</span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>


    <!-- jQuery and Bootstrap JS files -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>

</body>
</html>
