@model IEnumerable<LaptopForge.Data.Models.Models.Laptop>
@{
	ViewData["Title"] = "Laptop Collection";
}
        <header>
            <nav class="breadcrumb">
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a itemprop="url" href="/">
                        <span itemprop="title">Home</span>
                    </a>
                    <span>&#10140;</span>
                    <span class="">Collection</span>
                </span>
            </nav>
        <h1>Laptops(@ViewBag.LaptopCount)</h1>  
        </header>
        <p></p>
        <div class="sidebar" id="filters" role="search">
            <h2>Filters</h2>
			<a asp-action="Collection" asp-route-sortOrder="@ViewData["ManufacturerSortParm"]">Manufacturer</a>
            <a asp-action="Collection" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a>
        </div>
        <div id="main">
        <ul class="laptop-list">
            @foreach (var laptop in Model)
            {
                <div class="divhover">
                <li class="laptop-item">
                <a style="cursor: pointer;" href="/Laptops/GetLaptop/@laptop.Id">
                    <div class="article-container">
                        <img class="article-image" src=@laptop.ImageUrl alt="Article Image">
                        <div style="font-size:19px" class="image-name">@laptop.Manufacturer @laptop.ModelName</div>

                        <div class="checkmarks">
                            <div class="checkmark">
                                <span class="checkmark-symbol">&#10003;</span>
                                <div style="font-size:15px" class="checkmark-text">@laptop.CPU</div>
                            </div>

                            <div class="checkmark">
                                <span class="checkmark-symbol">&#10003;</span>
                                <div style="font-size:15px" class="checkmark-text">@laptop.GPU</div>
                            </div>

                            <div class="checkmark">
                                <span class="checkmark-symbol">&#10003;</span>
                                <div style="font-size:15px"  class="checkmark-text">@laptop.Ram</div>
                            </div>
                            <span style="color:black;font-size:21px">@laptop.Price$</span>
                        </div>
                    </div>
                </a>
                </li>
                </div>
            }
        </ul>
    <nav aria-label="Page navigation example" class="centernavbar">
        <ul class="pagination">
            @* @for (int i = 1; i <= this.ViewBag.TotalPages; i++)
            {
                if (i == this.ViewBag.currentPage)
                {
                    <li class="page-item"><a class="page-link active" href="/Laptops/Collection?currentPage=@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Laptops/Collection?currentPage=@i">@i</a></li>
                }
            } *@
        </ul>
    </nav>
        </div>