@{
	ViewData["Title"] = "Laptop Collection";
}
<style>
    ul.contacts {
        display: block;
        position: relative;
        list-style-type: none;
        float: right;
        margin: 0;
        padding: 0;
    }

    a, a:link, a:visited {
        color: #2A568B;
        text-decoration: none;
    }

    main, section, header, #filters, .sidebar {
        position: relative;
        z-index: 1;
    }

    .sidebar {
        float: left;
        width: 14.6667em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #filters .filter-group {
        max-height: none;
        padding: 0 0 0.6666666667em;
    }
</style>
        <header>
            <nav class="breadcrumb">
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a itemprop="url" href="/">
                        <span itemprop="title">Home</span>
                    </a>
                    <span>&#10140;</span>
                    <span class="">Collection</span>
                </span>
            </nav>
        <h1>Laptops(@ViewBag.LaptopCount)</h1>  
        </header>
        <p></p>
        <div class="sidebar" id="filters" role="search">
            <h2>Filters</h2>
            <form id="filters-form" class = "form-control" method="get" novalidate="true">
                <div class="filter-group" id="price">
                    <h4>Price</h4>
                    <div>
                        <p>
                        <input type="checkbox" name="price_btw_all" id="price_btw_all" value="all" class="all-scope" data-count="0" checked="checked">
                        <label for="price_btw_all">All</label>
                        </p>
                <p>
                    <input type="checkbox" name="search[price_btw][]" id="price_btw_0__500" value="0__500" class="scope">
                    <label for="price_btw_0__500">
                        0-500$
                        <span class="filter-count" style="color:gray">
                            (@ViewBag.LaptopFrom0To500)
                            <!--ENTER LAPTOP COUNT FOR GIVE PRICE RANGE-->
                        </span>
                    </label>
                </p>
                <p>
                    <input type="checkbox" name="search[price_btw][]" id="price_btw_500__1000" value="500__1000" class="scope">
                    <label for="price_btw_500__1000">
                        500-1000$
                        <span class="filter-count" style="color:gray">
                            (@ViewBag.LaptopFrom500To1000)
                            <!--ENTER LAPTOP COUNT FOR GIVE PRICE RANGE-->
                        </span>
                    </label>
                </p>
                <p>
                    <input type="checkbox" name="search[price_btw][]" id="price_btw_1000__1500" value="1000__1500" class="scope">
                    <label for="price_btw_1000__1500">
                        1000-1500$
                        <span class="filter-count" style="color:gray">
                            (@ViewBag.LaptopFrom1000To1500)
                            <!--ENTER LAPTOP COUNT FOR GIVE PRICE RANGE-->
                        </span>
                    </label>
                </p>
                <p>
                    <input type="checkbox" name="search[price_btw][]" id="price_btw_1500__2000" value="1500__2000" class="scope">
                    <label for="price_btw_1500__2000">
                        1500-2000$
                        <span class="filter-count" style="color:gray">
                            (@ViewBag.LaptopFrom1500To2000)
                            <!--ENTER LAPTOP COUNT FOR GIVE PRICE RANGE-->
                        </span>
                    </label>
                </p>
                <p>
                    <input type="checkbox" name="search[price_btw][]" id="price_btw_2000+" value="2000+" class="scope">
                    <label for="price_btw_2000+">
                        2000+$
                        <span class="filter-count" style="color:gray">
                            (@ViewBag.LaptopAbove2000)
                            <!--ENTER LAPTOP COUNT FOR GIVE PRICE RANGE-->
                        </span>
                    </label>
                </p>
                    </div>
                </div>
                <div id="manufacturer" class="filter-group">
                    <h4>Manufacturer</h4>
                </div>
            </form>
        </div>