@using LaptopForge.Web.HelpfulModels
@model PaginatedList<LaptopForge.Web.ViewModels.ViewModels.DisplayLaptopViewModel>
@{
	ViewData["Title"] = "Laptop Collection";
}
        <header>
            <nav class="breadcrumb">
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a itemprop="url" href="/">
                        <span itemprop="title">Home</span>
                    </a>
                    <span>&#10140;</span>
                    <span class="">Collection</span>
                </span>
        <form asp-action="Collection" method="get">
            <div class="form-actions no-color" style="margin-left: 200px;">
                <p style="margin-bottom: 10px;">
                    <label for="searchInput" style="font-weight: bold; font-size: 21px; color: #333;">Find by name:</label>
                    <input type="text" id="searchInput" name="SearchString" placeholder="Search for laptop" value="@ViewData["CurrentFilter"]" style="padding: 8px; font-size: 19px; width: 200px; border: 1px solid #ccc; border-radius: 4px;">
                    <input type="submit" value="Search" class="btn btn-primary" style="padding: 8px; font-size: 21px; background-color: #007bff; color: #fff; border: 1px solid #007bff; border-radius: 4px;"> |
                    <a asp-action="Collection" style="text-decoration: none; color: #333; font-size: 19px;">Back to Full List</a>
                </p>
            </div>
        </form>
            </nav>
        <h1>Laptops(@ViewBag.LaptopCount)</h1>  
        </header>
        <p></p>
        <div class="sidebar" id="filters" role="search">
            <h2>Filters</h2>
			Sort by 
            <p>
            <a class="sortingAnchor" asp-action="Collection" asp-route-sortOrder="@ViewData["ManufacturerSortParm"]">Manufacturer</a>
            <a class="sortingAnchor"  asp-action="Collection" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a>
            </p>
        </div>
        <div id="main">
    <style>
        .divhover {
            position: relative;
        }

        .form-check {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 10px;
            display: none;
        }
    </style>

        <form method="post">
    <ul class="laptop-list">
        @{
            int y = 0;
        }
        @foreach (var laptop in Model)
        {
            y++;
            <div class="divhover" onmouseover="showCheckbox(@y)" onmouseout="hideCheckbox(@y)">
            <li class="laptop-item">
                <a id="anchor" style="cursor: pointer;" href="/Laptops/GetLaptop/@laptop.Id">
                    <div class="article-container">
                        <img class="article-image" src=@laptop.ImageUrl alt="Article Image">
                        <div class="image-name text-truncate" style="font-size:21px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@laptop.Manufacturer @laptop.ModelName</div>

                        <div class="checkmarks">
                            <div class="checkmark">
                                <span class="checkmark-symbol">&#10003;</span>
                                <div style="font-size:20px" class="checkmark-text">@laptop.CPU</div>
                            </div>

                            <div class="checkmark">
                                <span class="checkmark-symbol">&#10003;</span>
                                <div style="font-size:20px" class="checkmark-text">@laptop.GPU</div>
                            </div>

                            <div class="checkmark">
                                <span class="checkmark-symbol">&#10003;</span>
                                <div style="font-size:20px" class="checkmark-text">@laptop.Ram</div>
                            </div>
                            <span style="color:black;font-size:23px">@laptop.Price$</span>
                        </div>
                        <div class="form-check" id="checkbox-@y">
                                <input type="checkbox" id="check-@y"class="form-check-input" name="compare">
                            <label class="form-check-label" for="check-@y">Compare</label>
                        </div>
                    </div>
                </a>
            </li>
    </div>
        }
</ul>
        </form>

<script>
    function showCheckbox(y) {
        document.getElementById('checkbox-' + y).style.display = 'block';
    }

    function hideCheckbox(y) {
        let checkbox = document.getElementById('check-' + y);
        if (!checkbox.checked) {
            document.getElementById('checkbox-' + y).style.display = 'none';
        }
    }
</script>
    <nav aria-label="Page navigation example" class="centernavbar">
    <ul class="pagination">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

        <a asp-action="Collection"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-primary @prevDisabled" style="margin-right: 10px;color:white;">
            Previous
        </a>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
            <a asp-action="Collection"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@i"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-primary" style="margin-right: 10px;color:white;">
                    @i
            </a>
            }

        <a asp-action="Collection"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-primary @nextDisabled" style="margin-right: 10px;color:white;">
            Next
        </a>
    </ul>

    </nav>
</div>